:root{
    --div-background-color: #1a1a1a;
    --scrollbar-thumb:#00f699;
    --scrollbar:#676767;
}
body{
    background-color: var(--div-background-color);
}
html::-webkit-scrollbar {
    background-color: var(--scrollbar);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}
.header-top{
    box-shadow: 0 -5px 10px 3px black;
    background-color: var(--div-background-color);
}

.header-top-logo>a{
    color: #bcbcbc;
}
.header-top-logo>a:hover{
    color: #ffffff;
}
.header-top-right>a{
    color: #bcbcbc;
}
.header-top-right>a:hover{
    color: #00f699;
}
.header-top-right>a.router-active{
    color: #00f699;
}

.home-jumbotron{
    background-color: var(--div-background-color);
}

.home-jumbotron-text {
    color: #d8d8d8;
}
.homepage-content-layout {
    background-color: var(--div-background-color);
    box-shadow: 0 5px 10px 3px black;
}

