:root{
    --div-background-color: white;
}
body{
    background-color: var(--div-background-color);
}
.header-top{
    box-shadow: 0 1px 3px -1px #676767;
    background-color: var(--div-background-color);

}

.header-top-logo>a{
    color: #bcbcbc;
}
.header-top-logo>a:hover{
    color: #005a3c;
}
.header-top-right>a{
    color: white;
}
.header-top-right>a:hover{
    color: #00f699;
}
.header-top-right>a.router-active{
    color: #00f699;
}

